<!DOCTYPE html>
{% extends 'nav.html' %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport 5" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>{%block page-title%}Request a Callback{%endblock%}</title>
</head>

<body>
    <header>
        {% block navbar%}
        {{block.super}}
        {% endblock %}
    </header>
    {% block content %}
    <section class="no-parallax">
        <form class="form" method="post" style="background-color: #C5F0A4;">
            {% csrf_token %}
            <form method="POST" class="form">
                {% csrf_token %}
                <ul style="list-style-type: none;">
                    <li>
                        <h2>Request a Callback</h2>
                    </li>
                    <li>
                        <label for="email">Email:</label>
                        {{ form.email}}
                    </li>
                    <li>
                        <label for="number">Phone Number:</label>
                        {{ form.number }}
                    </li>
                    <li>
                        <label for="message">Description:</label>
                        {{ form.message }}
                    </li>
                </ul>
                <button type="submit">Submit</button>
            </form>
        </form>
    </section>
    {% endblock %}
</body>

</html>