<!DOCTYPE html>
{% extends 'nav.html' %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block page-title %}Home{% endblock %}</title>
</head>

<body>
    <header>
        {% block navbar %}
        {{block.super}}
        {% endblock %}
    </header>
    {% block content %}
    <section class="no-parallax">
        <h1 style="color: black;">Section</h1>
    </section>
    <section class="parallax bg"></section>
    <section class="no-parallax">
        <h1 style="color: black;">Section</h1>
    </section>
    <section class="parallax bg"></section>
    <section class="no-parallax">
        <form class="form" style="background-color: #C5F0A4;">
            <div class="title">Contact us</div>
            <input type="text" placeholder="Your Email" class="input">
            <input type="text" placeholder="Your Phone Number" class="input">
            <textarea placeholder="Your Message" style="height: 250px;" maxlength="300"></textarea>
            <button type="submit">Submit</button>
        </form>
    </section>
    {% endblock %}
</body>
</html>
