<!DOCTYPE html>
{% extends 'base.html'%}
<html lang="en">

<head>
  <meta charset="UTF-8">
  {% load static %}
  <link href="{% static 'static/css/style.css' %}" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="static/admin/style.css">
  <title>{% block page-title %}Navbar{% endblock %}</title>
  <style>

  </style>
</head>

{% block body %}<body style="background-color: #98b9df;"> {% endblock %}
  {% block navbar %}
  {{block.super}}
  {% endblock %}
  <!--Override here-->
  {% block content %}
  <div class="card">
    <div class="card-body">
      This is some text within a card body.
    </div>
  </div>
  {% endblock %}

</body>

</html>